body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #222;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; 
  /* Font family distinto en cada Navegador formato: ttf. Monospace */
  color: #fff
}
/* Primero poner los selectores de elementos. */
/* Buscar diferencia de vh vw px. */
h1 {
  margin-top: 5vh;
  text-align: center;
}


#title {
  font-family: 'Original Surfer', cursive;
  position: absolute;
  font-size: 40px;
  margin-left: 35px;
  margin-top: 40px;
}


#score {
  font-size: 24px;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

button {
  margin: 20px;
  padding: 15px;
  background-color: #ccc;
  font-size: 16px;
  color: #222;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.simon {
  background: #385a94;
  border-radius: 30%;
  position: relative;
  border-style: solid;
  border-width: 10px;
  margin: auto;
  margin-top: 180px;
  box-shadow: 8px 8px 15px 5px #888888;
}

.simonBtn {
  position: relative;
  display: block;
  width: 15vw;
  height: 15vw;
  margin: 0;
  border-radius: 2vw;
}

 #redBtn {

  position: absolute;
  height: 125px;
  width: 125px;
  border-radius: 125px 0 0 0;
  -moz-border-radius: 125px 0 0 0;
  -webkit-border-radius: 125px 0 0 0;
  background: rgb(162, 0, 0);
  top: 50%;
  left: 50%;
  margin: -125px 0px 0px -125px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

}
#redBtn.highlight {
  position: absolute;
  height: 125px;
  width: 125px;
  border-radius: 125px 0 0 0;
  background-color: rgb(255, 22, 22);
  top: 50%;
  left: 60%;
  margin: -125px 0px 0px -125px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
}
#blueBtn {
  position: absolute;
  height: 125px;
  width: 125px;
  border-radius: 0 0 0 125px;
  -moz-border-radius: 0 0 0 125px;
  -webkit-border-radius: 0 0 0 125px;
  background:rgb(0, 0, 128);
  top: 50%;
  left: 50%;
  margin: 0px -125px 0px -125px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#blueBtn.highlight {
  position: absolute;
  height: 125px;
  width: 125px;
  border-radius: 0 0 0 125px;
  background: rgb(0, 0, 255);
  top: 49.5%;
  left: 51%;
  margin: 0px -125px 0px -125px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
}
#yellowBtn {
  position: absolute;
  height: 125px;
  width: 125px;
  border-radius: 0 125px 0 0;
  -moz-border-radius: 0 125px 0 0;
  -webkit-border-radius: 0 125px 0 0;
  background: rgb(149, 107, 0);
  top: 50%;
  left: 50%;
  margin: -125px 0px 0px 0px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#yellowBtn.highlight {
  position: absolute;
  height: 125px;
  width: 125px;
  border-radius: 0 125px 0 0;
  background: rgb(255, 183, 0);
  top: 50%;
  left: 50%;
  margin: -125px 0px 0px 0px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
}
#greenBtn {
  position: absolute;
  height: 125px;
  width: 125px;
  border-radius: 0 0 125px 0;
  -moz-border-radius: 0 0 125px 0;
  -webkit-border-radius: 0 0 125px 0;
  background: rgb(0, 137, 0);
  top: 50%;
  left: 50%;
  margin: 0px 0px -125px 0px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

}
#greenBtn.highlight {
  position: absolute;
  height: 125px;
  width: 125px;
  border-radius: 0 0 125px 0;
  background: rgb(0, 255, 0);
  top: 49.5%;
  left: 50%;
  margin: 0px 0px -125px 0px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
}