body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #222;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; 
  /* Font family distinto en cada Navegador formato: ttf. Monospace */
  color: #fff
}
/* Primero poner los selectores de elementos. */
/* Buscar diferencia de vh vw px. */
h1 {
  margin-top: 5vh;
  text-align: center;
}


#title {
  font-family: 'Original Surfer', cursive;
  position: absolute;
  font-size: 40px;
  margin-left: 35px;
  margin-top: 40px;
}

.simon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 20vw;
  margin-top: 5vh;

}

#score {
  font-size: 24px;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

button {
  margin: 20px;
  padding: 15px;
  background-color: #ccc;
  font-size: 16px;
  color: #222;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.simon {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 40vw;
  margin-top: 5vh;
}

.simonBtn {
  display: block;
  width: 10vw;
  height: 10vw;
  margin: 2vw;
  border-radius: 2vw;
}

/* #redBtn { background-color: #900; } */
/* #greenBtn { background-color: #090; }
#blueBtn { background-color: #009; }
#yellowBtn { background-color: #990; }


 #redBtn.highlight { background-color: #f00; } 
#greenBtn.highlight { background-color: #0f0; }
#blueBtn.highlight { background-color: #00f; }
#yellowBtn.highlight { background-color: #ff0; } */

 #redBtn {
  position: absolute;
  height: 125px;
  width: 125px;
  border-radius: 125px 0 0 0;
  background-color: rgb(162, 0, 0);
  top: 50%;
  left: 60%;
  margin: -125px 0px 0px -250px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
}
#redBtn.highlight {
  position: absolute;
  height: 125px;
  width: 125px;
  border-radius: 125px 0 0 0;
  background-color: rgb(255, 22, 22);
  top: 50%;
  left: 60%;
  margin: -125px 0px 0px -250px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
}

#blueBtn {
  position: absolute;
  height: 125px;
  width: 125px;
  border-radius: 0 0 0 125px;
  background: rgb(0, 0, 128);
  top: 49.5%;
  left: 51%;
  margin: 0px -125px 0px -127px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;

}
#blueBtn.highlight {
  position: absolute;
  height: 125px;
  width: 125px;
  border-radius: 0 0 0 125px;
  background: rgb(0, 0, 255);
  top: 49.5%;
  left: 51%;
  margin: 0px -125px 0px -127px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
}




#yellowBtn {
  position: absolute;
  height: 125px;
  width: 125px;
  border-radius: 0 125px 0 0;
  background: rgb(149, 107, 0);
  top: 50%;
  left: 50%;
  margin: -125px 0px 0px 0px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
}
#yellowBtn.highlight {
  position: absolute;
  height: 125px;
  width: 125px;
  border-radius: 0 125px 0 0;
  background: rgb(255, 183, 0);
  top: 50%;
  left: 50%;
  margin: -125px 0px 0px 0px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
}



#greenBtn {
  position: absolute;
  height: 125px;
  width: 125px;
  border-radius: 0 0 125px 0;
  background: rgb(0, 137, 0);
  top: 49.5%;
  left: 50%;
  margin: 0px 0px -125px 0px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;

}
#greenBtn.highlight {
  position: absolute;
  height: 125px;
  width: 125px;
  border-radius: 0 0 125px 0;
  background: rgb(0, 255, 0);
  top: 49.5%;
  left: 50%;
  margin: 0px 0px -125px 0px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
}
/*
.controls {
  position: absolute;
  background: grey;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  border-style: solid;
  border-width: 10px;
  top: 50%;
  left: 50%;
  margin: -125px 0px 0px -125px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


button {
  margin: 10%;
  padding: 5%;
  background-color: darkseagreen;
  font-size: 16px;
  color:#222;
  border:#222;
  border-radius:1vh;
  cursor: pointer;
} */

/* button highlight */

/* #redBtn.highlight { background-color: #f00; }
#greenBtn.highlight { background-color: #0f0; }
#blueBtn.highlight { background-color: #00f; }
#yellowBtn.highlight { background-color: #ff0; }  */